include README.md
include LICENSE
include setup.py
include requirements.txt
include alembic.ini

include config/*.template
include config/*.json
include config/*.sh
include config/emails/*
include cron/*
include bin/*
include modules/*
include alembic/versions/*
include alembic/*

exclude config/*.conf
