[Unit]
Description=HRZOO Accounts Task Daemon
After=network.target

[Service]
Type=simple
Environment=VIRTUAL_ENV=/opt/hrzoo-accounts-hpc/
ExecStart=/opt/hrzoo-accounts-hpc/bin/python /opt/hrzoo-accounts-hpc/bin/ah-taskd.py
KillMode=process
SyslogIdentifier=hrzoo-accounts-task-daemon

[Install]
WantedBy=multi-user.target
